@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Graduate&display=swap');
@import url('modal.css');
@import url('responsivo.css');
@import url('slideshow.css');
@import url('scrollreveal.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

main {
    width: 100%;
}

:root {
    --fonte-primaria: 'Graduate';
    --fonte-secundaria: 'Arvo';

    --cor-primaria: #0C0B0B;
    --cor-secundaria: #454545;
    --cor-botao: #A80000;
    --cor-fonte: #fff;
}

/* cabeçalho */

#home {
    background-color: #000;
    width: 100%;
    height: 100vh;
}

.home__info {
    padding: 1%;
    text-align: justify;
    color: var(--cor-fonte);
    font-family: var(--fonte-secundaria);
    position: absolute;
    background-color: rgba(10, 8, 8, 1);
    width: 22%;
    height: 71%;
    border-radius: 20px;
    margin: 3% 0 0 1%;
}

.home__info h1 {
    text-align: center;
    font-weight: 100;
}

.home__info strong {
    font-size: 30px;
    font-family: var(--fonte-primaria);
}

.cabecalho {
    display: flex;
    background-color: var(--cor-primaria);
    align-items: center;
    justify-content: space-between;
}

.cabecalho__logo {
    display: flex;
    align-items: center;
}

.cabecalho__logo img {
    height: 85px;
}

.cabecalho__logo h2 {
    color: var(--cor-fonte);
    font-family: var(--fonte-primaria);
    font-size: 1.6rem;
    font-weight: 100;
}

.cabecalho__info a {
    text-decoration: none;
    color: var(--cor-fonte);
    display: flex;
    font-size: 1.1rem;
}

.cabecalho ul {
    width: 120%;
    display: flex;
    list-style: none;
    font-family: var(--fonte-primaria);
    gap: 50px;
}

.cabecalho li {
    margin-left: 4%;
}

.cabecalho__info__botao {
    width: 250px;
    height: 65px;
    border-radius: 29.5px;
    background-color: var(--cor-botao);
    cursor: pointer;
    align-items: center;
    border: var(--cor-botao);
    margin: 1%;
    font-family: var(--fonte-primaria);
    color: var(--cor-fonte);
    font-size: 1.3rem;
}

.cabecalho__info__botao:hover {
    background-color: var(--cor-fonte);
    color: #000;
    transition: .5s;
}

.cabecalho__info li:hover{
    border-bottom: 1px solid #fff;
    transition: .2s;
}

/* cabeçalho fim */

/* Serviços */
    
#servicos {
    background-color: #000;
    color: var(--cor-fonte);
    align-items: center;
    font-family: var(--fonte-primaria);
    display: grid;
    grid-template-columns: 0.4fr 1.5fr 1.5fr 1.5fr 2fr;
    grid-template-rows: .5vh 5vh 5vh 38vh 38vh 7.1vh;
    grid-gap: 2px 15px;
    height: 100vh;
}

.servicos__titulo {
    grid-column: 1/5;
    grid-row: 2;
    color: var(--cor-fonte);
    font-family: var(--fonte-primaria);
    margin: 0 0 0 53%;
}

.boxall {
    text-align: center;
    grid-column: 2/5;
    grid-row: 4;
}

.boxall1 {
    text-align: center;
    grid-column: 2/5;
    grid-row: 5;
}

.servicos__cortes {
    display: grid;
    grid-column: 2/3;
    grid-row: 4/5;
}

.servicos__cortesoutro {
    display: grid;
    grid-column: 2/3;
    grid-row: 5/6;
}

.corte {
    width: 60%;
    border: 3px solid #fff;
}

.cortes1 {grid-column: 1/2; grid-row: 3/4;}
    .cortes1:hover {
        transform: scale(1.2) !important;
        transition: 1 ease-out !important;
    }
.cortes2 {grid-column: 2/3; grid-row: 3/4;}
    .cortes2:hover{
        transform: scale(1.2) !important;
        transition: 1 ease-out !important;
    }
.cortes3 {grid-column: 3/4; grid-row: 3/4;}
    .cortes3:hover{
        transform: scale(1.2) !important;
        transition: 1 ease-out !important;
    }
.cortes4 {grid-column: 1/2; grid-row: 4/4;}
    .cortes4:hover{
        transform: scale(1.2) !important;
        transition: 1 ease-out !important;
    }
.cortes5 {grid-column: 2/3; grid-row: 4/4;}
    .cortes5:hover{
        transform: scale(1.2) !important;
        transition: 1 ease-out !important;
    }
.cortes6 {grid-column: 3/4; grid-row: 4/4;}
    .cortes6:hover{
        transform: scale(1.2) !important;
        transition: 1 ease-out !important;
    }

.cortes__descricao {
    margin: auto;
    font-size: 1.1rem;
    border: 4px solid #fff;
    padding: 3%;
    width: 60%;
    height: 55px;
    text-align: center;
    background-color: var(--cor-secundaria);
}

.servicos__info {
    text-align: center;
    grid-column: 5;
    grid-row: 1/6;
}

.servicos__info img {
    box-shadow: -12px 20px 40px var(--cor-secundaria);
    width: 100%;
    box-sizing: border-box;
}

.servicos__info__botao {
    margin: 10% 0 20% 20%;
    font-weight: 300;
    grid-column: 5;
    grid-row: 6;
    color: var(--cor-fonte);
    width: auto;
    height: 110%;
    border-radius: 29.5px;
    cursor: pointer;
}

.servicos__info__botao__button {
    font-family: var(--fonte-primaria);
    font-size: 1.3rem;
    color: var(--cor-fonte);
    background-color: var(--cor-botao);
    border: none;
    width: 90%;
    height: 120%;
    border-radius: 29.5px;
    cursor: pointer;
}

.servicos__info__botao__button:hover{
    font-weight: 500;
    background-color: #fff;
    color: #000;
    transition: .4s;
}

/* Serviços fim */

/* localização */

#localizacao {
    background-image: url("../assets/fundo-loc.png");
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 1.3%;
}

.localizacao__titulo {
    font-family: var(--fonte-secundaria);
    color: var(--cor-fonte);
    font-weight: 200;
    margin: 1% 0 0 0;
}

.localizacao__endereco {
    background-color: rgba(0, 0, 0, .8);
    font-family: var(--fonte-secundaria);
    color: var(--cor-fonte);
    text-align: center;
    width: 1000px;
    height: 300px;
    border-radius: 20px;
    font-size: 1.4rem;
    padding: 2%;
}

.localizacao__endereco p {
    top: 30%;
}

.localizacao__api {
    width: 75%;
    height: 40%;
}

/* localização fim */

/* sobre */

#sobre {
    background-color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    gap: 80px;
    height: 100vh;
}

.sobre__titulo {
    height: 3%;
    padding: 2%;
    text-align: center;
    color: var(--cor-fonte);
    font-weight: 200;
    align-self: flex-start;
}

.sobre__conteudo {
    margin-top: 7%;
    display: flex;
    justify-content: space-around;
}

#sobre article {
    width: 35%;
    height: 35%;
    font-family: var(--fonte-secundaria);
    color: var(--cor-fonte);
}

.sobre__conteudo img {
    width: 23%;
    height: auto;
}

.imagem__barbeiro {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 1); 
}

/* sobre fim */

/* contato */

#fale__comigo {
    background-image: url('../assets/fundo\ contato.png');
    background-size: cover;
    height: 100vh;
}

.fale__comigo__info {
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: 10px 14px 14px rgba(0, 0, 0, 1); 
    font-family: var(--fonte-secundaria);
    color: var(--cor-fonte);
    text-align: center;
    width: 500px;
    height: 550px;
    border-radius: 20px;
    font-size: 1.4rem;
    gap: 20px;
    margin: 2% 0 0 8%;
    padding: 4%;
}

.fale__comigo__info a{
    text-decoration: none;
    color: var(--cor-fonte);
}

.info__logo {
    width: 16%;
}

.barber__logo {
    width: 28%;
}

/* contato fim */

/* footer */

footer{
    background-color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    color: var(--cor-fonte);
    height: auto;
}

#footerSuperior h2 {
    font-weight: 300px;
}

#footerSuperior, #footerInferior{
    width: 100%;
}

#footerSuperior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 250px;
}

#footerEsquerda{
    font-family: var(--cor-primaria);
    padding-top: 20px;
    padding-left: 20px;
    font-size: 1.5rem;
    width: 25%;
}

#footerCentro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
}

#insideCentro{
    display: flex;
    width: 100%;
    height: 80%;
}

#nav1{
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    gap: 30px;
    width: 40%;
    height: 100%;
    margin-top: 2%;
    border-right: 1px solid #bababa;
}

.nav1__a {
    margin: au;
}

.nav1__a:hover{
    margin-left: 3%;
}

#nav2 {
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav1 a, #nav2 a{
    text-decoration: none;
    color: var(--cor-fonte);
}

#nav2 h6{
    margin: 100% 0 0 0 ;
    font-weight: normal;
}

#nav2 img {
    margin: 15% 20%;
    width: 60%;
    height: auto;
}

#footerDireita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 15%;
}

#footerDireita img {
    width: 60%;
}

.logo__footer {
    height: 10%;
}

/* footer fim */